html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header h1{
    font-size: 3rem;
    background-color: brown;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    width: 100vw;
    z-index: 9999999;
}

.gallery{
    position: relative;
    margin-top: 3.5em;

}
.city-name{
    position: relative;
}

.city:hover{
    position: relative;
    opacity: 0.7;
}

img{
    position: relative;
}

.city-name a{
    font-size: 3rem;
    position: absolute;
    color: white;
}

.city-name a:hover{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color:white;
}
.city{
position: relative;

}

.city-photo:hover h2{
    background-color: #444444;
}